<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Calculation of power</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<style type="text/css">
body {
    background-color:aliceblue;
}
.edge {
    width: 100%;
    padding-top: 200px;
    text-align: center;
}
.box {
    display: inline-block;
    border: thick dashed rgb(191, 54, 212);
    width: 500px;
    min-height: 300px;
    font-size: 15px;
    background-color:blueviolet;
    margin-left:430px;
}
.formelt {
    color: rgb(19, 30, 32);
    text-align: center;
    margin-top: 9px;
    margin-bottom:8px;
}
h1 {
    color: rgb(130, 63, 63);
    padding-top: 20px;
}
</style>
</head>
<body>
     <center>
      <h1>R MANIYARSAN (24900020)</h1>
      </center>
     
      <div class="definition">
      <h1>POWER OF CALCULATION</h1>
    </div>
    <div class="box">
    
        <form method="POST">
            {% csrf_token %}
            <div class="formelt">
                Intensity: <input type="text" name="Intensity" value="{{I}} "></input>(in A)<br/>
            </div>
            <div class="formelt">
                Resistance: <input type="text" name="Resistance" value="{{R}} "></input>(in R)<br/>
            </div>
            <div class="formelt">
                <input type="submit" value="Calculate"></input><br/>
            </div>
            <div class="formelt">
                power: <input type="text" name="power" value="{{power}} "></input>watts<br/>
            </div>
        </div>
        </form>
</body>
</html>